streamlit
pandas
plotly
spacy
nltk
scikit-learn
sentence-transformers
keybert
fpdf2
PyMuPDF
pdfplumber
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl